{% extends 'base.html.j2' %}

{% block title %}
    Believable Bridges
{% endblock %}

{% block content %}

<div style="margin-top: 20%; height:50vh;">
    {# <div class="row d-flex justify-content-center mt-4 mb-4">
        <div class="col"> #}
            <h4 style="text-align: center; margin-bottom: 5%"> WELCOME TO BELIEVABLE BRIDGES! IF YOU BELIEVE, YOU TOO CAN BE THE PROUD OWNER OF A BRIDGE!</h4>
        {# </div>
    </div> #}

    <div class="card">
    <div class="card-header">
        Testament
    </div>
    <div class="card-body">
        <blockquote class="blockquote mb-0">
        <p>Just the other day, my wife was saying, that I would believe anything.  Thanks to George Parker, I have gone from 
        gullible to proprietor of my very own bridge! My wife was so happy, she told me to jump off it!</p>
        <footer class="blockquote-footer">James J. O'Brien <cite title="Source Title"></cite></footer>
        </blockquote>
    </div>
    </div>
</div>

{% endblock %}
